<app-auth-panel [title]="title">
  <div class="d-flex row w-100 justify-content-center">
    <div class="d-flex creds-input w-90">
      <div class="d-flex row" style="padding-left:10px">
        <span>Username</span>
        <div class="w-100" style="height: 0px"></div>
        <input type="text" class="d-flex w-90">
      </div>
    </div>
    <div class="w-100"></div>
    <div class="d-flex creds-input w-90">
      <div class="d-flex row" style="padding-left:10px">
        <span>Password</span>
        <div class="w-100" style="height: 0px"></div>
        <input type="password" class="d-flex w-90">
      </div>
    </div>
    <div class="w-100"></div>
    <div class="w-90 justify-content-center">
        <button type="button" class="btn btn-primary w-100 log-in-button">Log in</button>
    </div>
    <div class="w-100"></div>
    <div class="col w-100 d-flex justify-content-center">
        <button type="button" style="color: blue" class="btn btn-link">Forgot password ?</button>
    </div>
</div>
</app-auth-panel>
