.creds-input {
    height: 50px;
    background-color: #e2e2e2;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.6vw;
    color: #717171;
    border-bottom: 1px solid #717171;
}

input {
    background-color: #e2e2e2;
    border: 0px;
    padding: 0;
    font-size: 0.9vw;
    color: #717171;
}

.log-in-button {
    height: 50px;
    background-color: #0871b2;
}