#hospital-logo-holder img {
    height: 100%;
    padding: 3%
}

#header {
    background: rgba($color: #020c28, $alpha: 0.8)
}

#hospital-logo-holder
{
    vertical-align:top;
}

#hospital-logo-holder2
{
    vertical-align: middle;
}

.header-title span {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 12px
}