<div id="header" class="h-17 w-100 text-white">
    <div id="hospital-logo-holder" class="w-20 h-100 d-inline-flex justify-content-center">
        <img src="../assets/images/hospital_logo.png" class="img-fluid">
    </div>
    <div class="w-60 h-100 d-inline-flex header-title">
        <span>
            <h4>Header of the company</h4>
            Here is simple text that describe something about the company.
        </span>
    </div>
    <div id="hospital-logo-holder2" class="w-20 h-80 d-inline-flex justify-content-center header-title" style="padding-left:20px; border-left: 1px solid rgb(255, 255, 255);">
        <span>
            <h6 style="font-size:1.3vw">Here should be a text about creators.</h6>
        </span>
    </div>
</div>
<h1>Angular Router</h1>
<nav>
  <a routerLink="/authenticator-selection-panel">Authenticators</a>
  <a routerLink="/password-panel">Password</a>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
<div>
    Footer
</div>