#hospital-logo-holder img {
    height: 100%;
    padding: 3%
}

#header {
    background: rgba($color: #080730, $alpha: 0.7)
}

#hospital-logo-holder2,
#hospital-logo-holder
{
    vertical-align:top;
}

#header-title span{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    font-size: 12px
}