<div id="header" class="h-17 w-100 text-white">
    <div id="hospital-logo-holder" class="w-20 h-100 d-inline-flex justify-content-center">
        <img src="../assets/images/hospital_logo.png" class="img-fluid">
    </div>
    <div class="w-60 h-100 d-inline-flex header-title">
        <span>
            <h4>Header of the company</h4>
            Here is simple text that describe something about the company.
            <nav>
                <a routerLink="/authenticator-selection-panel">Authenticators </a>
                <a routerLink="/password">Password </a>
                <a routerLink="/prox">Prox </a>
                <a routerLink="/fp">FingerPrint </a>
            </nav>
        </span>
    </div>
    <div id="hospital-logo-holder2" class="w-20 h-80 d-inline-flex justify-content-center header-title" style="padding-left:20px; border-left: 1px solid rgb(255, 255, 255);">
        <span>
            <h6 style="font-size:1.3vw">Here should be a text about creators.</h6>
        </span>
    </div>
</div>
<div id="panels-container" class="h-73 d-flex align-items-center justify-content-center">    
    <router-outlet></router-outlet>
</div>
<div id="footer" class="h-10" style="padding-left: 30px">
    <button type="button" class="btn btn-light" style="width: 150px; border-radius: 25px">Forgo password ?</button>
    <button type="button" style="width: 150px; color: white" class="btn btn-link"> Shutdown</button>
</div>