<div id="header" class="h-17 w-100 text-white">
    <div id="hospital-logo-holder" class="w-20 h-100 d-inline-flex justify-content-center">
        <img src="../assets/images/hospital_logo.png" class="img-fluid">
    </div>
    <div id="header-title" class="w-60 h-100 d-inline-flex">
        <span>
            <h4>Header of the company</h4>
            Here is simple text that describe something about the company.
        </span>
    </div>
    <div id="hospital-logo-holder2" class="w-20 h-100 d-inline-flex justify-content-center">
        <span>23</span>
    </div>
</div>