.title-holder {
    height: 60px;
    background: linear-gradient(#25476a, #096faf);
}

.title-holder span {
    height: 20px;
    margin-left: 10px;
    font-size: 1.0vw;
    font-weight: bold;
    font-family: "Arial"
}

.content-holder {
    background-color: white;
    height: 320px;
    width: 280;
}

